<!DOCTYPE html>
<html>
  <body>
    <h1>Redis Information Page</h1>
    <p>Looks like you've requested information for the user with id <%= user_id %>.</p>
    <p> <%= content %></p>
    <%= if user_id == "tesla" do %>
      BEST. USER. EVER.
    <% end %>
  </body>
</html>
